body{
    font-family:"Inter",sans-serif;
    background-color: #010104;
    color: white;
}

h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.container{
    background-color: #3A31D8;
    border-radius: 25px;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 8rem;
    font-size: 20px;
    font-weight: 200;
}

.ClickButtons{
    background-color: #020024;
    border: none;
    border-radius: 8px;
    color: white;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    width:8rem;
    font-weight: 600;
    margin-left: 10rem;
    margin-top: 2rem;
}

input[type=text]{
    border: none;
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

/* .circle{
    background-color: #0600C2;
    padding: 10rem;
    border-radius: 100%;
    position: absolute;
    top: -10%;
    left: -10%;
} */

button:hover{
    scale: 1.1;
    
}

.table {
    display: flex;
    height: 50vh;
    justify-content: space-around;
}


/* rows 1-2 ,column 1-2 */
.welcomeheading{ 
    /* grid-row: 1/2;
    grid-column: 1/2; */
    /* background-color: red; */
    border-radius: 11px;
    height: 75px;
    padding: 25px;
    background-color: #3A31D8;
    display: flex;
    float:left;
    font-size: 25px;
}

table, th, td {
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: 3px solid #3A31D8;
    text-align: center;
    padding: 25px;
}

/* 
.bingogamepage{
    display: grid;
    grid-template-rows: 250px 550px ;
    grid-template-columns: 400px;
} */


/* rows 2-3 column 2-3 */
/* .table{
    grid-row: 2/3;
    grid-column: 2/3;
} */

/* rows2-3, column 1-2 */
/* .bingotable{
    grid-row: 2/3;
    grid-column: 1/2;
}
 */

/* rows 2-3,column 1-2  */
/* .chatpage{
    grid-row: 2/3;
    grid-column: 1/2;
} */